body {margin:0; font-family: "light 300 italic";}

.navbar {
  overflow: hidden;
  background-color: #F6F4F3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index : 1;
  top: 0px;
  
  
}

.navbar a {
  float:right;
  display: block;
  color: #F03A47;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  padding-right: 20px;
  
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}


.brand {
  float: left;
  padding-right: 500px;
  color: black;
  font-size: xx-large;
  padding-top: 6px;
  padding-left: 50px;
  padding: 20px;
}
/* sticky navbar end */




.topleft {
    float:center;
    color: white;
    padding: 20px 25px;
    font-size: 100px;
    top: 700px;
    padding-left: 200px;
    padding-top: 140px;
}


.onimagetext {
  float:center;
    color: white;
    padding: 20px 25px;
   text-align: center;
    font-size:25px ;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 1px;
    
    text-shadow: solid black 60px;
    
}

.bg-img {
    /* The image used */
    background-image: url("https://images.thrillophilia.com/image/upload/s--Zgpmuhaf--/c_fill,h_775,q_auto,w_1600/f_auto,fl_strip_profile/v1/images/photos/000/012/368/original/1569846183_cst_station2.jpg.jpg?1569846182");
  border-radius: 5%;
  
    min-height: 710px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
  
  }
  
  /* Position the navbar container inside the image */
  
  
  
  /* The navbar */
  
  /* Navbar links */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .container .btn {
      position: absolute;
      top: 70%;
      left: 43%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: red;
      color: white;
      font-size: 25px;
      padding: 20px 30px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
    }
    
    .container .btn:hover  {
      background-color: #ff3131;
    }
      .container .btn1 {
          position: absolute;
          top: 70%;
          left: 58%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          background-color: red;
          color: white;
          font-size: 25px;
          padding: 20px 30px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          text-align: left;
        }
        
        .container .btn1:hover  {
          background-color: #ff3131;
        }






        * {
            box-sizing: border-box;
          }
          
          .column {
            float: left;
            width: 33.33%;
            padding: 4.5rem;
            
            justify-content: left;
            display:flex;
            
          }
          
          /* Clearfix (clear floats) */
          .row::after {
            content: "";
            clear: both;
            display: table;
          }
          
          
          
          
          /*
          .contain {
            position: relative;
            width: 50%;
          }
          
          .image {
             
            display: block;
            width: 350px;
            height: 300px;
            border-radius: 15%;
           
           
          }
          .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,.7);
            overflow: hidden;
            width: 350px;
            height: 0;
            transition: .5s ease;
            border-radius: 15%;
          }
          
          .contain:hover .overlay {
            height: 100%;
            border-radius: 15%;
            opacity: 1;
          }
          
          .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }
          */



          .contain {
            position: relative;
            width: 50%;
          }
          
          .image {
            display: block;
            width: 350px;
            height: 300px;
          }
          
          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 350px;
            height: 300px;
            opacity: 0;
            transition: .5s ease;
            background-color: #8bbee8ff; }
          
          .contain:hover .overlay {
            opacity: 1;
          }
          
          .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }


          
          
          








        

          .benefits{

            float:center;
            font-size: 50px;
           
            padding-left: 32%;
            padding-top: 1%;
            color: #2D1E2F;
            
           
            
            
            

          }






          .mySlides {display:none;
            width: 430px;
                height: 600px;
                position:absolute;
                bottom:0;
                border-radius: 10%;
                top: 3050px;
            
               
               
            
            } /*
            .w3-left, .w3-right, .w3-badge {cursor:pointer}
            .w3-badge {height:13px;width:13px;padding:0} */
            
            .bgslide{
                background:#e9d3ff;
                height: 529px;
                padding-bottom: 350px;
                background-position-y: 80%;
                padding-top:2px;
                border-radius: 5%;
                
            
            }
            
            .navi {
              padding-left: 750px;
              padding-top: 1px;
              
            }
            .navinp {
              padding-left: 750px;
              padding-top: 100px;
              
              
            }

            








            .section4, .section5 {
              padding: 10px;
              margin: 10px;
              font-size: 16px;
              background-color: blanchedalmond;
              color: black;
          }
          .flex-container {
              display: flex;
              background-color: blanchedalmond;
              justify-content: space-evenly;
              align-items:center;
          }
          .ASA {
              font-size: 35px;
              text-align: center;
              font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
          .tag {
              font-size: 30px;
              color: rgba(0, 0, 0, 0.671);
          }
          .vl {
              border-left: 3px solid grey;
              height: 160px;
          }
          .flex-container {
              border: 2px solid grey;
          }



          .intro {
           
            text-align: justify;
           padding-left: 370px;
           padding-right: 370px;
           background-color: #A9E5BB;
           border-radius:5%;
            
          }


          .intropoints{
            
            text-align: justify;
            list-style-type:square;
          }


          .bgbenefits {
            background-color: #e9d3ff;
            border-radius: 5%;
          
          } 


          .introtwo {
           
            text-align: justify;
           padding-left: 370px;
           padding-right: 370px;
           background-color: #A9E5BB;
           border-radius:5%;
           
          
           
            
          }


          .intropointstwo{
            
            text-align: justify;
            list-style-type:square;
          }


          .headingintro{
            color:#2D1E2F;
            font-size: 50px;
          }
